@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&family=Ubuntu:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
font-family: 'Ubuntu', sans-serif;
}


.content-center-screen {
    background: #242d4d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerCustom {
    width: 500px;
}

.containerCustom > .card {
    color: #242d4d;
    border-radius: 8px;
}

label {
    font-weight: 700;
    color: #242d4d;
    letter-spacing: 0.1rem;
}

.btn-block {
    /* background: #242d4d; */
    font-weight: 900;
    border-color: transparent;
    border-radius: 14px;
}

.containerCustomText > div {
    font-weight: 700;
    padding: 2px;
    font-size: 50px;
    letter-spacing: 0.2rem;
    text-align: center;
}

#alert {
    display: none;
}