 .card-info {
   min-height: 100vh;
   /* background: rgb(76, 76, 236); */
   background: rgb(31, 42, 58);
 }

 .card-map {
   min-height: 80vh;
   background: rgb(255, 255, 255);
 }

 #showingMap {
   min-height: 100vh;
 }

 .card {
   border-radius: 14px;
 }


 .vh-50 {
   min-height: 50vh;
 }

 #textInformation>h1 {
   color: #fff;
   font-weight: 900;
 }

 #textInformation > p {
  color: #fff;
  font-weight: 700;
 }

 #textInformation>hr {
   background: #fff;
 }


 /* Custom */
 .btnCustom {
   background: rgb(57, 84, 218);
   color: #fff;
   border-radius: 30px;
 } 
 

 #map { 
  min-height: 100vh;
  }


  
  .loader-page {
    position: fixed;
    z-index: 25000;
    background: rgb(255, 255, 255);
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
}

.loader-page::before {
    content: "";
    position: absolute;
    border: 2px solid rgb(50, 150, 176);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgba(50, 150, 176, 0);
    border-top: 2px solid rgba(50, 150, 176, 0);
    animation: rotarload 1s linear infinite;
    transform: rotate(0deg);
}

@keyframes rotarload {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.loader-page::after {
    content: "";
    position: absolute;
    border: 2px solid rgba(50, 150, 176, .5);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    border-left: 2px solid rgb(96, 182, 236);
    border-top: 2px solid rgb(96, 182, 236);
    animation: rotarload 1s ease-out infinite;
    transform: rotate(0deg);
}
